.list
{
    position: absolute;
    top:143px;
    left:294px;
    height: 200px;
    width: 178px;
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
}

.itemButton
{
    width: 100%;
}